@mixin full-width {
  width: 100%;

  @supports (width: -moz-available) {
    width: -moz-available;
  }

  @supports (width: -webkit-fill-available) {
    width: -webkit-fill-available;
  }

  @supports (width: fill-available) {
    width: fill-available;
  }
}
